:root:not([data-theme='dark']) {
    --background: #c2daff;
    --text: #d5e0ff;
    --text2: #29396b;
    --surface1: #F4F4F4;
    --surface2: #5c95be;
    --surface3: #000000;
    --surface4: #000000;
    --filter: brightness(0%) invert(100%);
    --background-overlay: #98c1fe;
    --font: #ffffff;
  }
  
  :root[data-theme='dark'] {
    --background: #181825;
    --text: #adc3ff;
    --text2: #ffffff;
    --surface1: #313244;
    --surface2: #74c7ec;
    --surface3: #d3e3ff;
    --surface4: #000000;
    --filter: brightness(0%) invert(100%);
    --background-overlay: #576a9e;
    --font: #ffffff
  }
