@import 'base'
@import 'animations'
@import './colors'

html
  scroll-behavior: smooth

body
  margin: 0
  font-family: 'Kumbh Sans', sans-serif
  font-size: 2rm
  background-image: url('https://assets.blahaj.land/pictures/backgrounds/waves-standard.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  color: var(--text)
  background-color: var(--background-overlay)
  background-blend-mode: multiply

@media (min-width: 1201px)
  body
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    color: var(--text)

  #app
    width: 1200px

  .displayOnDesktop
    display: inherit !important

  .displayOnMobile
    display: none !important

@media (max-width: 1200px)
  #app
    width: 100vw
    overflow: hidden

  .displayOnDesktop
    display: none !important


  .displayOnMobile
    display: inherit !important
