:root {
  --radius-inf: 9999px;
  --radius-small: 4px;
  --radius-med: 12px;
  --trans: all ease-out 0.25s;

  @media (max-width: 1200px) {
    --radius-small: 2vw;
    --radius-med: 8vw;
  }
}

@font-face {
  font-family: Noto IKEA;
  src: url('@/library/fonts/NotoIKEARegular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Noto IKEA;
  src: url('@/library/fonts/NotoIKEABold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
