:root {
  --radius-inf: 9999px;
  --trans: all ease-out 0.25s;
  --missing: #dddddd;

  @media (min-width: 1201px) {
    --radius-small: 12px;
    --radius-med: 12px;
  }

  @media (max-width: 1200px) {
    --radius-small: 4vw;
    --radius-med: 4vw;
  }
}
